<ion-header>
  <ion-toolbar class="transparent-bg">
    <div slot="start" class="ion-margin">
      <app-language #selectLanguage></app-language>
    </div>
    <div class="show-in-landscape" style="text-align: center; width: 100%;">
      <img src="/assets/images/Logo_DuocUC.svg.png" alt="Logo Duoc UC" class="logo-image">
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card-content>
    <h1 class="ion-text-center" style="color: rgb(0, 0, 0);">
       {{ 'Incorrecto.Title' | translate }} <span style="color: rgb(143, 23, 23);">{{ 'Incorrecto.Highlight' | translate }}</span>
    </h1>
    <br>
    <div class="ion-text-center">
      <img src="/assets/images/malardo.jpg" style="width: 500px; height: auto;">
    </div>
    <br>
    <div>
      <h1 class="ion-text-center" style="color: white;">
          {{ 'Incorrecto.Message' | translate }}
      </h1>
    </div>
  </ion-card-content>
</ion-content>

<ion-footer>
  <ion-button class="boton-regresar" shape="block" (click)="volverAtras()">
    {{ 'Incorrecto.Label.Regresar' | translate }}
  </ion-button>
</ion-footer>
